.section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}
.section1 .bg{   
    background-color: #85b442;
}
.section3 {background-color: #e88019;z-index: 500;}
.section2 {background-color: #3cc3b6;}
.section2 img{position: absolute;top: 0; }
.section3 img{position: absolute;top: 0; }
.section1 img{position: absolute;top: 0; }
a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);  
}
.imgauto{display:block;width: 100%;height: 100%;}
.sj{width: 25px;height: 14px;background: url(sj.png) no-repeat;display: inline-block;position: absolute;left: 50%;margin-left: -13px;bottom: 15px;}

.sj{z-index: 700;
    -webkit-animation:fadeOutDown 1s .8s linear infinite ;
-moz-animation:fadeOutDown 1s .8s linear infinite ;}
@-webkit-keyframes fadeOutDown{
0%{opacity:1;
-webkit-transform:translateY(0)}
100%{opacity:0;
-webkit-transform:translateY(20px)}
}
@-moz-keyframes fadeOutDown{
0%{opacity:1;
-moz-transform:translateY(0)}
100%{opacity:0;
-moz-transform:translateY(20px)}
}
.app-btn{background: url(images/btn.png) no-repeat;
width: 160.8px;
height: 39.6px;
background-size: 160.8px 39.6px;
    display: inline-block;position: absolute;
    left: 50%;margin-left: -80.4px;
top:50%;z-index: 600;}
.active .app-btn{-webkit-animation:flipInY 1s .6s ease both;
-moz-animation:flipInY 1s .2s ease both;}
@-webkit-keyframes flipInY{
0%{-webkit-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);
opacity:1}
}
@-moz-keyframes flipInY{
0%{-moz-transform:perspective(400px) rotateY(90deg);
opacity:0}
40%{-moz-transform:perspective(400px) rotateY(-10deg)}
70%{-moz-transform:perspective(400px) rotateY(10deg)}
100%{-moz-transform:perspective(400px) rotateY(0deg);
opacity:1}
}
